.mat-display-2 {
  margin-top: 32px;
  margin-bottom: 10px;
}

.mat-display-3 {
  margin-bottom: 20px;
}

button {
  margin-right: 2px;
}

.widget {
  margin-top: 32px;
}

.alert {
  padding: 20px;
  margin-bottom: 15px;
  margin-top: 20px;
  border-radius: 4px;
  width: 50%;

}

app-stacked-column-chart, app-spiderweb-chart {
  margin-top: 5px;
}

.mat-card-info {
  background: transparent;
  width: auto;
  max-height: 150px;
  margin-top: 32px;
}

.mat-card-info:not([class*=mat-elevation-z]) {
  box-shadow: 6px 2px 1px -1px rgba(0, 0, 0, 0), 0px 1px 1px 0px rgba(0, 0, 0, 0), 0px 1px 3px 0px rgba(0, 0, 0, 0);
}


.videoNum {
  margin-top: 150px;
  font-weight: bold;
  font-size: 1.5em;
}

.statistics {
  font-size: 3em;
  margin-left: 15px;
  vertical-align: sub;
}

.maxLines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  //width: 100%;
}

.paddingBottom {
  padding-bottom: 50px;
}

.text-justify {
  text-align: justify;
  line-height: 150%;
}
