<div fxLayout="row" fxLayoutAlign="center center">
  <h1 class="mat-display-2"> Analyse des vidéos </h1>
</div>

<div class="widget" fxLayout="row" >
<button mat-raised-button color="primary" fxFlex="25" (click)="onNewAnalyze(true)"> <mat-icon>add_circle_outline</mat-icon>       Ajouter des vidéos à l'analyse</button>
<span fxFlex="60"></span>
<button mat-raised-button color="primary" fxFlex="15" (click)="onNewAnalyze(false)"> <mat-icon>replay</mat-icon>      Nouvelle analyse</button>
</div>

<p></p>
<mat-tab-group animationDuration="0ms">

  <!-- Analyse comparative -->
  <mat-tab label="Comparative">
    <div class="widget" fxLayout = "row wrap"
         fxLayout.lt-sm = "column"
         fxLayoutGap = "20px"
         fxLayoutAlign = "flex-start" >
      <app-stacked-column-chart [videos]="videos"
                                fxFlex = "calc(50% - 20px)"
                                fxFlex.lt-md = "calc (50% - 20px)"
                                fxFlex.lt-sm = "100%">
      </app-stacked-column-chart>
      <app-spiderweb-chart [videos]="videos"></app-spiderweb-chart>
    </div>
  </mat-tab>

  <!-- Analyse individuelle -->
  <mat-tab label="Individuelle">
    <div class="widget">
      <div
        fxLayout = "row wrap"
        fxLayout.lt-sm = "column"
        fxLayoutGap = "20px"
        fxLayoutAlign = "flex-start">
        <div *ngFor="let video of videos; let index = index">
          <app-spiderweb-chart  [video]="video"
                               fxFlex = "400"
                               fxFlex.lt-md = "calc (100% - 20px)"
                               fxFlex.lt-sm = "100%">
          </app-spiderweb-chart>
          <mat-card class="mat-card-info" fxLayoutAlign="space-evenly center">
            <mat-card-content>
              <div class="videoNum"> Vidéo n°{{ index+1 }}</div>
              <div> Titre : {{ video.title }} </div>
              <div> Chaîne : {{ video.channelTitle }}</div>
              <div>
                <mat-icon>calendar_today</mat-icon>
                {{ video.publishedAt }}
              </div>
            </mat-card-content>

          </mat-card>
        </div>
        </div>
      </div>
  </mat-tab>

  <!-- Analyse évolutive -->
  <mat-tab label="Evolutive">
      <div class="widget" fxLayout="row" >
      <app-basic-line-chart [videos]="videos" fxFlex="60"></app-basic-line-chart>
        <p fxFlex="40">Cette analyse évolutive n'est pertinente que pour des vidéos ayant le même sujet.
          Par exemple : plusieurs trailers d'un même film.<br>
        + Expliquer x et y
        </p>
    </div>
  </mat-tab>
</mat-tab-group>



