<app-url></app-url>

<app-videos></app-videos>

<app-analyze-button></app-analyze-button>

<mat-card>
  <p class="mat-body text-justify">L'outil d'analyse Moodcom vous permet d'analyser l'impact de vidéos Youtube sur le
    public basé sur les sentiments grâce aux commentaires laissés sous cette dernière. L'analyse est réalisée sur les
    1000 top commentaires
    (commentaires les plus aimés).</p>
  <mat-card-title class="mat-display-2 about-us-subtitle">Comment l'utiliser ?</mat-card-title>
  <p class="mat-body text-justify">Rien de plus simple ! <br> Copiez ou recherchez l'URL de la vidéo ou les vidéos que
    vous souhaitez analyser dans la barre dédiée et ajoutez là.
    Puis vous n'avez plus qu'à appuyez sur le bouton "Analysez" et le tour est joué ! <br> <br>
    Sur la page analyse, vous avez accès à 3 types d'analyses différentes : </p>
  <ul class="mat-body text-justify">
    <li>Analyse comparative : les résultats des analyses de chaque vidéo sont présentées sur un seul graphe afin de
      permettre une comparaison facile des résultats
    </li>
    <li>Analyse individuelle : chaque vidéo ajouté dans la liste est analysé individuellement, indépendamment les unes
      des autres
    </li>
    <li>Analyse évolutive : à chaque date de publication des vidéos analysées, on observe les résultats de chaque
      sentiment (plus d'informations dans l'onglet correspondant)
    </li>
  </ul>

  <p class="mat-body text-justify">Une option est disponible ! <br> Vous avez la possibilité de vous connecter avec
    votre compte Google. Avec cette connexion, vous aurez accès à l'historique de vos analyses.
    Vous aurez alors le choix entre : </p>
  <ul class="mat-body text-justify">
    <li>Refaire l'analyse : l'analyse est rejouée à la date effectuée</li>
    <li>Refaire et comparer l'analyse : on affiche les résulats de l'analyse à la date effectuée la première fois et à
      celle d'aujourd'hui afin de comparer l'évolution des sentiments
    </li>
  </ul>
</mat-card>


