<div fxLayout="row" fxLayoutAlign="center center" >
  <h1 class="mat-display-2" >Vous voulez en savoir plus sur nous ? </h1>
</div>
<div fxLayout="row" fxLayoutAlign="center center" >
  <h4 class="mat-display-1"> On vous dit tout !</h4>
</div>

<div fxLayout="row">
  <div fxFlexFill>
    <div fxFlex="80">
      <div fxLayout="row" fxLayoutAlign="center center" >
        <h1 class="mat-display-3 about-us-subtitle" >QUI SOMMES NOUS ?</h1>
      </div>
      <div fxLayout="row" >
        <p class="mat-body text-justify" >Nous sommes une start-up qui surfons sur l’utilisation massive des plateformes de broadcast (ou de streaming) pour la diffusion exclusive de contenu cinématographique, vidéo	ludique ou promotionnel tel que Youtube et bientôt Dailymotion et Viméo. Nous vous accompagnons dans l’étude de l’impact de votre communication pour voir plus loin et vous permettre d’affirmer vos positions au sein de votre public.
        </p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="20"><img src="assets/logo.png" alt="Qui sommes nous ?" class="logo-qui-sommes-nous"> </div>
  </div>
</div>

<div fxLayout="row">
  <div fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="50"><img src="assets/qui-sommes-nous.png" alt="Qui sommes nous ?" class="image-qui-sommes-nous"> </div>
    <div fxFlex="50">
      <div fxLayout="row" fxLayoutAlign="center center" >
        <h1 class="mat-display-3 about-us-subtitle" >MOODCOM C'EST QUOI ? </h1>
      </div>
      <div fxLayout="row" >
        <p class="mat-body text-justify" >Moodcom est notre application développée dans le but d’analyser l’impact de vidéos Youtube sur le public en tenant compte des commentaires laissés sous cette dernière. À l’aide de Tensor Flow, notre équipe réalise des études se basant sur les sentiments comme la joie, la peur, la colère ou encore la tristesse pour rendre compte de la réaction du public et de son ressenti.

          Cet outil donne du sens à tous les directeurs, chargés ou responsables de la communication cherchant à mesurer l’impact de leur stratégie sur le public. Ils pourront alors réajuster leurs méthodes et corriger leur ligne de conduite pour correspondre au mieux à leurs attentes initiales.
        </p>
      </div>
    </div>
  </div>
</div>

<div fxLayout="row">
    <div fxLayout="row" fxLayoutAlign="center center" >
      <h1 class="mat-display-3 about-us-subtitle" >LA LIGUE DES DEVELOPPEURS ? </h1>
    </div>
</div>
<div fxLayout="row">
  <p class="mat-body text-justify" >Une équipe talentueuse et réfléchie </p>
  <img src="" alt="Image des dev">
</div>
