.mat-display-2 {
  margin: 64px 0 0 0;
}

.mat-display-1 {
  margin: 10px 0 64px 0;
}

.mat-display-3 {
  margin-bottom: 20px;
}

.text-justify {
  text-align: justify;
  line-height: 150%;
}

.image-qui-sommes-nous {
  width: 50%;
}

.logo-qui-sommes-nous {
  width: 75%;
}

.equipe {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 150px;
  width: 70%;
  height: auto;
}
