ul li {
  list-style: none;
}

.logo {
  height: 90px;
  width: auto;
}

.connexion {
  margin-right: 15px;
  margin-top: -5px;
}
.youtube {
  height: 30px;
  width: auto;
  margin-right: 15px;
}

.icon-dark-mode {
  font-size: 0.6em;
  margin: 7px 0 0 0;
}

.icon-light-mode {
  font-size: 0.6em;
  margin: 7px 0 0 10px;

}

.toogle {
  margin: 4px 0 0 0;
}
