ul li {
  list-style: none;
}

.logo {
  height: 90px;
  width: auto;
}

.icon-dark-mode {
  font-size: 0.6em;
  margin: 4px 0 0 0;
}

.icon-light-mode {
  font-size: 0.6em;
  margin: 4px 0 0 10px;
}
