<mat-toolbar>
  <mat-toolbar-row>
    <a [routerLink]="'/'" (click)="clearAlert()"><img class="logo" src="assets/logo.png"></a>

    <a mat-button [routerLink]="'/aboutUs'"> A propos de nous</a>
    <span class="spacer"></span>

    <!-- Lien Youtube -->
    <a href="https://www.youtube.com/" onclick="window.open(this.href); return false;"><img class="youtube"
                                                                                            src="../../../assets/youtube.png"></a>

    <!-- Change Mode -->
    <mat-icon class="icon-dark-mode">bedtime</mat-icon>
    <mat-slide-toggle class="toogle" (change)="onDarkModeSwitched($event)" color="primary"></mat-slide-toggle>
    <mat-icon class="icon-light-mode">wb_sunny</mat-icon>

    <!-- Connexion Google -->
    <div class="connexion">
      <div *ngIf="user">
        <img src="{{ user.photoUrl }}" alt="profilePicture" class="profilePicture" [mdePopoverTriggerFor]="appPopover">
      </div>
      <div *ngIf="!user">
        <button mat-button class="SignOut" (click)="signInWithGoogle()">Se connecter</button>
      </div>
    </div>


  </mat-toolbar-row>
</mat-toolbar>

<mde-popover #appPopover="mdePopover" mdePopoverTriggerOn="click" [mdePopoverCloseOnClick]="false"
             [mdePopoverOverlapTrigger]="false">
  <button mat-button class="SignOut" (click)="signOut()"> Se déconnecter</button>
  <hr>
  <h3> Historique de mes analyses</h3>
  <div *ngFor="let history of histories; let index = index">
    <strong> Analyse du {{ history.date }} </strong>

    <button mat-button matTooltip="Consulter l'analyse" matTooltipClass="matTooltip" (click)="replayAnalyze(history)">
      <mat-icon>replay</mat-icon>
    </button>
    <button mat-button class="action-compare" matTooltip="Refaire et comparer l'analyse" matTooltipClass="matTooltip"
            (click)="compareAnalyze(history)">
      <mat-icon class="icon-compare">add_chart</mat-icon>
    </button>
    <span *ngFor="let video of history.videos"><br>
      {{ video.title }}
     </span>
  </div>
</mde-popover>
