<mat-card class="card-single-video">
  <div fxLayout="row" fxLayoutAlign="space-evenly center">

    <img mat-card-image src="{{ thumbnail }}" class="miniature" alt="miniature">

    <mat-card-content>
      <div [ngClass]="{videoTitle: true}"> {{ title }}</div>
      <div [ngClass]="{videoChannelTitle: true}">{{ channelTitle}}</div>
      <div [ngClass]="{videoPublishedAt: true}">
        <mat-icon>calendar_today</mat-icon>
        <span>{{ publishedAt }}</span></div>


    </mat-card-content>

    <mat-card-actions>
      <button mat-icon-button (click)="onRemoveVideo()">
        <mat-icon [ngClass]="{clearButtonIcon: true}">clear</mat-icon>
      </button>
    </mat-card-actions>

  </div>
</mat-card>

